/* .l-header, */
/* .l-footer {
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
} */

.l-container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}