/* --- タイムラインのスタイル --- */
.p-review-list {
    background-color: var(--color-background);
}

.p-review-list__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    padding-block: 3rem;

}

.p-review-list__title-group {
    margin-right: auto;
}

.p-review-list__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-right: auto;
}

/* 投稿フォームへのリンク */

.p-timeline__item {
    display: grid;
    grid-template-columns: 90px 20px 1fr;
    gap: 20px
}

/* 日時 */
.p-timeline__date {
    margin-top: 0;
    text-align: right;
    font-size: 0.9rem;
    color: #666;
}

.p-timeline__date p:nth-child(1) {
    margin-bottom: 0;
}

.p-timeline__date p:nth-child(2) {
    margin-top: 0;
    line-height: 0.9rem;
}

/* 緑の丸と線 */
.p-timeline__line {
    position: relative;
    display: flex;
    justify-content: center;
}

.p-timeline__circle {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    z-index: 2;
}

.p-timeline__line::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background: var(--color-secondary);
}

/* ユーザー画像＋投稿内容 */
.p-timeline__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 2rem;
}

.p-review-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-review-user-image {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.p-review-card {
    background: #fff;
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgb(0 0 0 / .08);
}

.p-review-card p {
    margin: 0;
}

.p-review-star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.15rem;
    margin-top: 15px;
}

.p-review-star-image {
    width: 1.3rem;
    height: auto;
}


/* お気に入り＋コメントボタン */
.p-review-list__button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.p-review-list__button-favorite {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 3rem;
    height: auto;
    margin-top: 4px;
    border: none;
    color: #b9b9b9;
    cursor: pointer;
}

.p-review-list__button-favorite--action {
    color: rgb(230, 125, 142);
}
