/* --- 投稿フォームのスタイル --- */
.p-review-form {
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.p-review-form__inner {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-bottom: 3rem;
}

/* 投稿メッセージ */
.message--form::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, 220%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba(255, 255, 255);
    z-index: 5;
}

.p-review-form__form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-review-form__form {
    margin-inline: auto;
}

/* 投稿フォーム：入力欄 */
.p-review-form__item-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-review-form__label {
    align-self: flex-start;
}

.p-review-form__textarea {
    max-width: 100%;
}


/* 投稿フォーム：評価 */
.p-review-form__evaluation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* 投稿フォーム：ボタン*/
.p-review-form__button {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
    border: none;
}
