/* プロフィールページ */
.p-profile {
    position: relative;
    padding-block: 3rem;
    padding-inline: 2rem;
}


/* ユーザー情報エリア */
.p-user-profile__image-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    padding-top: 1rem;
}

.p-user-profile__image {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.p-user-profile__user-name {
    line-height: 1;
    font-weight: 600;
}

.p-user-profile__user-id {
    padding-top: 0.3rem;
    line-height: 1;
    color: var(--color-tex-light);
    font-size: 0.9rem;
}

.p-user-profile__description-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}


/* フォローボタン グループ */
.p-user-profile__btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}


/* フォロー解除ボタン */
.p-user-profile__follow-cancel-btn {
    background-color: #b5b5b5;
    box-shadow: 0 3px 0px #8d8d8d;
    color: var(--color-white);
}


/* 切り替えタブエリア */
.p-user-profile__tab-group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    width: 20rem;
}


/* タブ共通 */
.p-user-profile__tab {
    background-color: transparent;
    flex: 1;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: var(--color-text-secondary);
    cursor: pointer;
}

.is-owner .p-user-profile__tab:hover {
    background-color: rgba(255, 255, 255, 0.831);
    border-radius: 4px 4px 0 0;
}

.is-other-user .p-user-profile__tab {
    text-align: start;
}

/* 下線 */
.p-user-profile__indicator {
    background: #737373;
    position: absolute;
    bottom: 0;
    left: 0;
    /* タブが2個なので半分 */
    width: 50%;
    height: 3px;
    transition: transform .3s ease;
}


/* 切り替え内容共通 */
.p-user-profile__tab-content {
    background-color: #e3eef4;
    margin-block: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}


/* お気に入りボタン */

.react-favorite {
    display: flex;
}

.react-favorite button {
    width: 3rem;
    height: auto;
}

.p-user-profile__button--favorite {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 3rem;
    height: auto;
    margin-left: auto;
    color: rgb(230, 125, 142);
}

#favorite-empty {
    text-align: center;
}
