/* ウェルカムページ */


/* タイトル */
.welcome-intro__title {
    font-size: clamp(2rem, 4vw, 3rem);
    text-shadow: 2px 2px 2px #0000003f;
}

.welcome-intro__title-parts {
    display: inline;
}

.welcome-intro__title-parts:nth-child(2) {
    font-size: clamp(1.2rem, 2vw, 2rem);
}

/* ウェルカムメッセージ */
.welcome-intro__message {
    background: linear-gradient(to bottom, #fff, #869cb15d);
    animation: slideIn 1s ease forwards;
    opacity: 0;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome-intro__description {
    margin-top: 2rem;
}

.welcome-intro__description p {
    margin: 0;
}

.welcome-intro__description p+p {
    margin-top: 0.5rem;
}


/* ディスプレイ1152px以下 */
@media screen and (max-width: 1152px) {
    .welcome-intro__title-parts {
        display: block;
    }

    .welcome-intro__title-parts:nth-child(2) {
        text-align: end;
    }
}

/* ディスプレイ768px以下 */
@media screen and (max-width: 768px) {
    .welcome-intro__title {
        text-align: center;
    }

    .welcome-intro__title-parts:nth-child(2) {
        text-align: center;
    }
}