/* ウェルカムページ */


/* タイトル */
.welcome__title {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.welcome__title-parts {
    display: inline;
}

.welcome__title-parts:nth-child(2) {
    font-size: clamp(1.2rem, 3vw, 2rem);
}

@media screen and (max-width: 1152px) {
    .welcome__title-parts {
        display: block;
    }

    .welcome__title-parts:nth-child(2) {
        text-align: end;
    }
}


/* ログイン・新規登録ボタン */
.welcome__auth {}